RHT_OCP4_MASTER_API=https://api.na410r.prod.ole.redhat.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.na410r.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410r.prod.ole.redhat.com
RHT_OCP4_DEV_USER=jttmls
RHT_OCP4_DEV_PASSWORD=447c60bb0ec3417ab80b
RHT_OCP4_GITHUB_USER=Manolete919
RHT_OCP4_QUAY_USER=manolete919
